name: .NET CD

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.0
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v6
      id: semantic
      with:
        dry_run: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -p:VersionPrefix=${{ steps.semantic.outputs.new_release_version }} -c Release
    - name: Test
      run: dotnet test --no-build --verbosity normal -c Release
    - name: Push Package to NuGet.org
      run: dotnet nuget push nugets/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
